/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* regole container lista */
.list-container {
    width: 80%;
    height: 100vh;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 1em 0;
}


/* regole lista spesa */
ul {
    list-style-type: none;
}

li {
    margin: 0.5em 0;
    padding: 1em 2em;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
}

li:hover {
    background-color: #6ca35b;
    color: black;
    cursor: pointer;
}
